.student_container {
  width: 100%;
  min-height: 100vh;
  background-color: antiquewhite;
}
.header_container {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.body_container {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
}
.title_container {
  /* margin-top: 100px; */
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: antiquewhite;
}
.title_container h2 {
margin: 20px;
}