.login_container{
width: 100%;
height: 100vh;
background-image: url('../assets/images/wallpaperflare.com_wallpaper.jpg'); /* Adjust path as needed */
background-size: cover;
background-position: center; 
display: flex;
justify-content: center;
align-items: center;
}

.login_form_container{

}
.login_logo_container{

}
.login_form_container{

}